body{
  background-color: black;
}

h1{
  color: green;
  margin-right: 500px;
  width: 400px;
}

p{
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}

#acid{
  margin-left: 430px;
  margin-right: 400px;
  padding-top: 100px
}

#Devil{
  margin-left: 430px;
  margin-right: 400px;
  padding-top: 100px
}

#Bestkept{
  margin-left: 430px;
  margin-right: 400px;
  padding-top: 100px
}

#slime{
  margin-left: 430px;
  margin-right: 400px;
  padding-top: 100px
}

#linkin{
  margin-left: 430px;
  margin-right: 400px;
  padding-top: 100px
}

#nights{
  margin-left: 430px;
  margin-right: 400px;
  padding-top: 100px
}

#Navbar{
  font-size: 25px;
  display: block;

}

#youtube{
  width: 50px;
  border-style: solid;
  border-width: medium;
  border-color: green;
}

#About{

}
